 <header class="page-header">
    <h1>Admin dashboard</h1>
</header>
  
  <div class="dashboard-stats">

  <p> Total Products: <%= @product_count %></p>
  <p>Total Categories: <%= @category_count %></p>
</div>
