
  .dashboard-stats {
    margin-top: 40px;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    border-color: rgb(34, 255, 0);
    background-color:rgb(215, 215, 215);
    border-style:double;

  
    p {
      font-size: 2rem;
      color: #101110;
      margin: 10px 0;
      text-align: left;
    }
  }
  